<% content_for :title, "Editing spof" %>

<h1>Editing spof</h1>

<%= render "form", spof: @spof %>

<br>

<div>
  <%= link_to "Show this spof", @spof %> |
  <%= link_to "Back to spofs", spofs_path %>
</div>
