// Sassy
@import "bootstrap";

.navbar {
  background-color: black !important;
  .navbar-brand {
    float: left;
    font-size: 1.7rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
  }
}
.nav-link {
  color: white !important;
}
