<div id="<%= dom_id Category %>">

  <p>
    <strong>Category Name:<%= link_to "#{cate.name}", cate %></strong>
  <p/>
  <p>
    <strong>Category Articles Count:<%= cate.articles.length %></strong>
  </p>

</div>
